:root {
  --text: #c7d0dd;
  --text-h: #efeff5;
  --bg: #212324;
  --card-bg: #383737;
  --border: #cbd5e1;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --primary: #1e1b4b;
  --primary-hover: #312e81;
  --danger: #e73030;
  --success: #0bb047;

  --sans: "Inter", system-ui, sans-serif;
  --heading: Georgia, "Times New Roman", serif;
  --mono: "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--text);
}
.card{
  max-width: 780px;
  margin: 64px auto 0;
  background: var(--card-bg);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 32px;
}
